/*
* @Author: Aleksiej Kuncewicz
* @Date:   2021-08-11 10:11:40
* @Last Modified by:   Aleksiej Kuncewicz
* @Last Modified time: 2021-08-29 14:44:44
*/

/*
* Grid
*/
$tablet: 1024px;
$mobile: 768px;

/*
* Fonts
*/
$roboto: 'Roboto', sans-serif;

/*
* Colors
*/
$mainPalette: (
  brown: #8E7C68,
  orange: #ED7458,
  yellow: #FFDC9F,
  beige: #DDC9BC,
  lightGray: #F2EBE0
);