/*
* @Author: Aleksiej Kuncewicz
* @Date:   2021-08-29 11:31:32
* @Last Modified by:   Aleksiej Kuncewicz
* @Last Modified time: 2021-08-29 15:46:11
*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

@import "utility/Variables";
@import "utility/Mixins";

* {
  font-family: $roboto;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.form__wrapper {
  width: 60%;
  padding: 24px;
  border-radius: 4px;
  background-color: map-get($mainPalette, beige);

  @include tablet {
    width: 90%;
  }

  @include mobile {
    width: calc(100% - 12px);
    padding: 12px;
  }
}

.form__wrapper-title {
  display: flex;
  justify-content: center;
  color: map-get($mainPalette, brown);

  @include tablet {
    font-size: 1.5em;
  }

  @include mobile {
    font-size: 1em;
  }
}

.form {
  display: flex;
  flex-direction: column;

  &:not(:last-child) {
    margin-bottom: 12px;
  }

  &.form__separator {
    &::before {
      content: '';
      display: inline-block;
      margin-bottom: 12px;
      height: 1px;
      width: 100%;
      background-color: map-get($mainPalette, lightGray);
    }
  }
}

.form__row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  @include mobile {
    flex-direction: column;
  }

  .form {
    width: calc((100% / 2) - 6px);
    margin-bottom: 0;

    @include mobile {
      width: 100%;

      &:not(:last-child) {
        margin-bottom: 12px;
      }
    }
  }
}

.form__title {
  margin-bottom: 6px;
  font-size: 14px;
  font-weight: 700;
  color: map-get($mainPalette, brown);

  &.required::after {
    content: '*';
    display: inline-block;
    padding: 0 2px;
    color: map-get($mainPalette, orange);
  }
}

.form__input {
  display: inline-block;
  padding: 8px 6px;
  border-radius: 4px;
  border: 1px solid map-get($mainPalette, yellow);
  background-color: map-get($mainPalette, lightGray);
  color: map-get($mainPalette, brown);
}

.form__error {
  font-size: 14px;
  color: map-get($mainPalette, orange);
}

.form__radio {
  display: flex;
  align-items: center;

  &:not(:last-child) {
    margin-bottom: 6px;
  }

  .form__input {
    margin: 0 6px 0 0;
    cursor: pointer;
  }

  .form__title {
    margin: 0;
    font-size: 12px;
    font-weight: 500;
  }
}

.form__checkbox {
  label {
    display: flex;
    align-items: center;
  }

  input {
    margin: 0 6px 0 0;
  }

  span {
    font-size: 12px;
    font-weight: 500;
    color: map-get($mainPalette, brown);
  }
}

.form__submit {
  width: 100%;
  padding: 12px 0;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 4px;
  border: 1px solid map-get($mainPalette, yellow);
  background-color: map-get($mainPalette, yellow);
  color: map-get($mainPalette, brown);
  cursor: pointer;

  &:hover {
    border-color: map-get($mainPalette, brown);
  }
}

/*
* custom checkbox & radio button
*/
.custom-input--radio,
.custom-input--checkbox {
  display: block;
  position: relative;
  padding-left: 24px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;

    &:checked ~ .custom-input__checkmark {
      border-color: map-get($mainPalette, orange);
    }

    &:checked ~ .custom-input__checkmark::after {
      display: block;
    }
  }

  .custom-input__checkmark {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 16px;
    width: 16px;
    border: 1px solid map-get($mainPalette, lightGray);
    background-color: map-get($mainPalette, lightGray);

    &::after {
      content: "";
      position: absolute;
      display: none;
    }
  }

  &:hover input ~ .custom-input__checkmark {
    border-color: map-get($mainPalette, orange);
  }
}

.custom-input--radio {
  .custom-input__checkmark {
    border-radius: 50%;

    &::after {
      top: 3px;
      left: 3px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: map-get($mainPalette, orange);
    }
  }
}

.custom-input--checkbox {
  .custom-input__checkmark {
    border-radius: 4px;

    &::after {
      left: 4px;
      top: 0px;
      width: 5px;
      height: 10px;
      border: solid map-get($mainPalette, orange);
      border-width: 0 3px 3px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }
}
